{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <img src="{{ product.image | media_filter }}" alt="{{ product.name }}" width="300">
    <p>Цена: {{ product.purchase_price }}</p>
    <p>Категория: {{ product.category.name }}</p>
    <p>Дата создания: {{ product.created_at }}</p>
    <p>Дата обновления: {{ product.updated_at }}</p>
    <p>Опубликован: {{ product.is_published }}</p>
    <div class="mt-4">
        {% if user == product.owner or user.has_perm('catalog.can_unpublish_product') %}
            <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-primary">Редактировать</a>
        {% endif %}
        {% if user == product.owner or user.has_perm('catalog.delete_product') %}
            <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>

{% endblock %}